<template>
  <div class="container">
      <SideBar/>
      <postIndex/>
    </div>
</template>

<script>
import SideBar from '@/components/dashboard/sidebar'
import postIndex from '@/components/dashboard/postindex'
export default {
  name: 'Dashboard',
  components: {
  SideBar, postIndex
  },
  methods: {
  }
}
</script>
