<template>
  <div class="posts-main">
    <p>Posts!</p>
  </div>
</template>

<script>
export default {
  name: 'PostIndex',
  methods: {
  }
}
</script>

<style>
.posts-main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

</style>
