<template>
    <div class="sidebar">
      <div class="flex flex-column h-100">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <span class="fs-4 text-black">Ghoul</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              Dashboard
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-black">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              View Site
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-black">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              Posts
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-black">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
              Drafts
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-black">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
              Scheduled
            </a>
          </li>
        </ul>
        <hr>
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
          </a>
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Your Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: 'SideBar',
  methods: {
  }
}
</script>

<style>
.sidebar {
  position: relative;
      z-index: 800;
      flex: 0 0 320px;
      display: flex;
      flex-direction: column;
      min-width: 0;
      transform: translateX(0);
      border-right: 1px solid #e6e9eb;
      transition: flex-basis .25s;
      overflow: hidden;
}

</style>
